# Matlab temporary files
*.asv

# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd
.ipynb_checkpoints/
*.ipynb_checkpoints

# Build / packaging
build/
dist/
*.egg-info/
*.egg
*.spec

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/

# Latex
*.aux
*.fdb_latexmk
*.fls
*.synctex.gz
*.toc
*.lof
*.lot
*.log

# Personal files
Notes.md